<a href="https://colab.research.google.com/github/Aman3539/notebook/blob/main/Copy_of_My_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#create a string with my name
my_name= "Aman"
#print the string
print(my_name)

Aman

In [ ]:
#define the string
my_string="Hello World"
#find the length of the string
lenght=len(my_string)
#print the lenght
print(lenght)

11

In [ ]:
#define the string
my_string="Python Programming "
#Slice the first 3 characters
first_three_chars=my_string[:3]
#print the result
print(first_three_chars)

Pyt

In [ ]:
#define the string
my_string="hello"
#convert to uppercase
uppercase_string=my_string.upper()
#print the result
print(uppercase_string)

HELLO

In [ ]:
#define the string
my_string= "I like Apple "
#replace "Apple" with "orange"
new_string=my_string.replace("Apple","orange")
#print the result
print(new_string)

I like orange

In [ ]:
#create a list with number 1 to 5
my_list=[1,2,3,4,5]
#Atlernatively,use range function
my_list=list(range(1,6))
#print the list
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
#define the list
my_list=[1,2,3,4]
#Append the number 10
my_list.append(10)
#print the updated list
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
#define the list
my_list=[1,2,3,4,5]
#remove the number 3
my_list.remove(3)
#print the update list
print (my_list)

[1, 2, 4, 5]

In [ ]:
#define the list
my_list=['a','b','c','d']
#Access the second element (index1)
second_element=my_list[1]
#print the result
print(second_element)

b

In [ ]:
#define the list
my_list=[10,20,30,40,50]
#reverse the list
my_list.reverse()
#Alternatively,use slicing:my_list=
my_list[::-1]
#print the reversed list
print(my_list)

[50, 40, 30, 20, 10]

In [ ]:
#define the tuple
my_tuple=('red','green','blue','yellow')
#access the second to last element (index-2)
second_last_element=my_tuple[-2]
#print the result
print (second_last_element)

blue

In [ ]:
#define the tuple
my_tuple=(10,20,5,15)
#find the minimum number
min_number=min(my_tuple)
#print the result
print(min_number)

5

In [ ]:
#define the tuple
my_tuple=('dog','cat','rabbit')
#find the index of 'cat'
index=my_tuple.index('cat')
#print the result
print(index)

1

In [1]:
#define the list
my_list=['apple','Banana','orange','apple']
#convert the list to a set
my_set=set(my_list)
#print the set
print(my_set)

{'apple', 'Banana', 'orange'}